.header {
  height: 50px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header img {
  height: 100%;
  justify-self: flex-start;
}

.coffee-button {
  background-image: url("./cofee.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: max-content;
  height: 35px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 0 1rem;
  }

  .header img {
    height: 90%;
    /* padding-left: 2rem; */
  }
}
