@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400&display=swap");
.intro {
  height: calc(100vh - 50px - 2rem);
  width: 100%;
  font-family: "Inter", sans-serif;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.intro__content {
  padding: 0 1rem;
}

.intro__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.intro__subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: rgb(158, 156, 156);
}

.intro__button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.intro__button:hover {
  background-color: white;
  color: black;
}
