select {
  width: 30%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  color: #333;
  text-align: center;
}

@media screen and (max-width: 768px) {
  select {
    width: 100%;
  }

  option {
    width: 100px !important;
    overflow-y: scroll;
  }
}
